
@{
    ViewData["Title"] = "AddDay";
}

<head>
    <title>Добавление новой цели</title>
</head>
<bode>
    Добавление цели
    @using (Html.BeginForm("Endadd", "Home", FormMethod.Post))
    {
        <form>
            <input type="datetime" name="Date1" value="XX.XX.XX YY:YY">
            <input type="text" name="Target1" value="Введите цель" size="20" maxlength="300">
        </form>
        <form method="post" action="/api/endadd">
            <button>Продолжить</button>
        </form>
    }
    <form method="get" action="/api">
        <button>Отмена</button>
        </form>
</bode>


