
@{
    ViewData["Title"] = "AddDay";
}

<head>
    <title>Добавление новой цели</title>
</head>
<bode>
    Добавление цели
    <form>
        <input type="date" name="Date" value="Введите дату">
        <input type="time" name="Time" value="Введите время">
        <input type="text" name="Target" value="Введите цель" size="20" maxlength="300">
    </form>
    <button>Продолжить</button>
    <button>Отмена</button>
</bode>


