
@{
    ViewData["Title"] = "Update";
}

<head>
    <title>Редактирование цели</title>
</head>
<bode>
    Редактирование цели
    @using (Html.BeginForm("Endupdate", "Home", FormMethod.Post))
    {
        <input type="datetime" name="Date" value="@Model.Date">
        <input type="text" name="Target" value="@Model.Target" size="20" maxlength="300">


            <button>Продолжить</button>
        }
        <form method="get" action="/api">
            <button>Отмена</button>
        </form>
        
    </bode>

